<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>Click on the map to choose a point.</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <div id="map"></div>
    <div id="mykey" data-key=<%= key %>></div>

    <form action="/optimalPath" method="POST">
      <input id="coords" type="hidden" name="points" value="">
      <button type="submit" class="details">Calculate</button>
    </form>

    <script>
    var pointsArray = "";

    mapboxgl.accessToken = document.getElementById('mykey').dataset.key;
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-74.5, 40], // starting position
        zoom: 9 // starting zoom
    });

      map.on('click', function(e) {
        var jsonData = e.lngLat;
        pointsArray = pointsArray + jsonData.lng + "," + jsonData.lat + ";";
        document.getElementById('coords').value = pointsArray;

        var tempArray = [jsonData.lng, jsonData.lat];

        var el = document.createElement('div');
        el.className = 'marker';

        new mapboxgl.Marker(el).setLngLat(tempArray).addTo(map);
      });
    </script>

  </body>

</html>
